/* outline an object */
.outline
{
    border: 1px solid lightgray;
}

/* Make a jumbotron not have excessive padding on top if it's an outlier */
.outlier-jumbo
{
    padding: 3rem 2rem;
}

/* Make the jumbotron have the same styling as the other elements, curved */
.jumbotron
{
    border-radius: .3rem !important;
}

/* Make the cards not look close together on mobile */
.card
{
    margin-top: 1rem !important;
}

/* Make the footer stay at the bottom of the page even if we don't 
 * have enough content to fill up the main container on the page. */
.flex-wrapper {
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: space-between
}

/* Make the homepage jumbotron have an image in the background */
.jumbotron-image
{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px); 
    filter: blur(3px); 

    /* Hardcoded height */
    height: 350px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text
{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bolder;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 1%;
    text-align: center;
}

.display-4
{
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    color: white;
    font-size: 3.25rem;
}


@media only screen and (max-width: 768px)
{

    .bg-text {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        font-weight: bolder;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 85%;
        padding: 0%;
        text-align: center;
    }

    .display-4 {
        font-size: 3rem;
    }

}

.boxify {
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 15px 5px 15px 5px;
}

.grey-line {
  width: 49% !important;
  background: lightgray;
  height: 1px;
  margin-top: 12px;
}
.non-grey-line {
  width: 5% !important;
  float: inherit;
  display: inline;
}

.non-grey-line {
  width: 5% !important;
  float: inherit;
}

.grey-line:nth-of-type(1) {
  float: left !important;
}
.grey-line:nth-of-type(2) {
  float: right !important;
}
